.footer {
	  font-size: 11px;
    margin-top: -5px;
    z-index: 1;
}
.footer .container {
		padding: 15px 20px;
}
.copyright {
	  float: left;
		color: #fff;
}
.copyright a {
  color: #fff;
}
.footer ul.social_bookmarks {
		float: right;
    margin: -10px 0 0 30px;
    position: relative;
}

.social_bookmarks li {
    border-radius: 300px;
    border: none;
    overflow: hidden;
    top: 5px;
    position: relative;
		height: 100%;
    float: left;
    padding: 0;
		-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
		display: block;
    width: 30px;
}

.social_bookmarks li a {
    float: left;
    width: 30px;
    line-height: 30px;
    display: block;
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 30px;
    height: 30px;
    overflow: visible;
    z-index: 2;
    position: relative;
    text-align: center;
    color: #8c8c8c;
    border-radius: 300px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.social_bookmarks li a:before {
    font-family: 'namfame-font';
}
[data-icon]:before {
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    content: attr(data-icon);
    speak: none;
}
.hidden_link_text {
    display: none;
}
.twitter:hover a {
  color: #fff;
  background-color: #46d4fe;
  text-decoration: none;
}
.facebook:hover a {
  color: #fff;
  background-color: #37589b;
  text-decoration: none;
}
.dribbble:hover a {
  color: #fff;
  background-color: #e44885;
  text-decoration: none;
}