.footer {
	  font-size: 11px;
    margin-top: -1px;
    z-index: 1;
}
.footer .container {
		padding: 15px 20px;
}
.copyright {
	  float: left;
		color: #fff;
}
.footer ul.social_bookmarks {
		float: right;
    margin: -10px 0 0 30px;
    position: relative;
}

.social_bookmarks li {
    border-radius: 300px;
    border: none;
    overflow: hidden;
    top: 5px;
    position: relative;
		height: 100%;
    float: left;
    padding: 0;
		-webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
		display: block;
    width: 30px;
}

.social_bookmarks li a {
    float: left;
    width: 30px;
    line-height: 30px;
    display: block;
    margin: 0px;
    outline: none;
    padding: 0;
    min-height: 30px;
    height: 100%;
    overflow: visible;
    z-index: 2;
    position: relative;
    text-align: center;
		color: #8c8c8c;
}
.social_bookmarks li a:before {
    font-family: 'entypo-fontello';
		-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    content: attr(data-av_icon);
    speak: none;
}
.hidden_link_text {
    display: none;
}