.sortArea {
  background-color: #fff;
  padding-left: 12px;
}

.container {
  display: flex;
  flex-flow: column;
  height: calc(100% - 38px);
}

.infiniteScroller {
  flex: 2 ;
  overflow: auto;
}

.infiniteScroller > div {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.infiniteScroller > div:before,
.infiniteScroller > div:after {
  content: " ";
  display: table;
}