.container, .documentArea {
  height: calc(100% - 40px);
}

.documentArea {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width:100%;
}

.pdfNav {
  padding:4px;
  align-items: center;
  border-bottom:1px solid #ccc;
  background-color:#fff;
}

.pageNumbers {
  font-size:1.2em;
  min-width:35px;
  margin:0 10px;
}

.notesButton {
  float: right;
  right: 3px;
}
.visibilityHidden {
  visibility: hidden;
 }

.displayNone {
  display:none;
}