/*
  Fun with IFrames! (⚆ _ ⚆)
  1. Chrome does not respect overflow-x or overflow-y
  2. Safari iOS does not support scrolling iFrames! Ahh

  more work to do here.
*/

.iframe {
  /*
    TODO: because we overrode the iFrames default way of scrolling
    we're currently guessing the height of its content.
    For a seamless solution, this will need to be computed
    from within the iFrame itself an passed up to the parent
    window dynamically.
  */
  width:100%;
}

.container {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width:100%;
  height:100%
}