:local(.container) {

  width: 100%;
  border-top: 2px solid #999;
}

:local(.header) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
  min-height: 33px;
}

:local(.status) {
 padding: 0 5px 0 5px;
}

:local(.body) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px 4px;
  min-height: 70px;
  background-color:#fff;
  cursor:pointer;
}

.patientName {
  font-weight: bold;
}

.patientImage, .patientInfo {
  margin-right: 5px;
}

.patientInfo,
.appointmentInfo {
  flex: 1 1 auto;   
}

.appointmentInfo {
  text-align: right;
}