.searchBox{
  margin-bottom:4px;
}
/* https://github.com/jonsuh/hamburgers/blob/master/dist/hamburgers.css
    */
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  vertical-align: middle;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger_box {
  display: inline-block;
  position: relative; }

.hamburger_inner {
  display: block;
  }
  .hamburger_inner, .hamburger_inner::before, .hamburger_inner::after {
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger_inner::before, .hamburger_inner::after {
    content: "";
    display: block; }
  .hamburger_inner::before {
    top: -10px; }
  .hamburger_inner::after {
    bottom: -10px; }


/*
   * Stand
   */
.hamburger_stand.hamburger_inner {
  transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.1s linear; }
  .hamburger_stand .hamburger_inner::before {
    transition: top 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger_stand .hamburger_inner::after {
    transition: bottom 0.1s 0.1s ease-in, transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger_stand.is_active .hamburger_inner {
  transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.22s linear; }
  .hamburger_stand.is_active .hamburger_inner::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger_stand.is_active .hamburger_inner::after {
    bottom: 0;
    transform: rotate(45deg);
    transition: bottom 0.1s 0.12s ease-out, transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

