.message{
  transform: translate(0,5%);
  height: auto;
  width: auto;
  margin: 25px auto 0;
  width:75%;
  color:#fff;
}

.message h2 {
  margin-top:0;
}

.message ul p a:hover {
    color: #487b95;
    text-decoration: none;
}

.background {
    background: url('./background.jpg');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;    
}