.modalBackground {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .35);
  margin: 0 -15px;
}

.container {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 500px;
  min-width: 280px;
  background: #fff;
  width: 100%;
  display: flex;
  flex:1 2 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:60px;
}

.border {
  border: 1px solid #ccc;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 0 4px;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #d2492a;
}

.header h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.body {
  padding: 4px;
  /*height: 100%;*/
  white-space: pre-wrap;
  text-align: center;
}

.warningtext {
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-top: 2px;
  font-size: 15px;
}

.bottombuttons {
  margin: 0 10px 10px 0;
}

.timer {
  font-size: 20px;
}

.enter {
  transform: translate(0, -100%);
}

.enterActive {
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}

.leave {
  transform: translate(0%);
}

.leaveActive {
  transform: translate(0, -100%);
  transition: transform 300ms ease-in-out;
}

@media (max-width: 500px) {
  .modal {
    margin-top:0px;
  }

  .border {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ccc;
    border-left: none;
  }
}