.btnDefaultOverride {
    background-color: #C4C4C4;
    font-weight: bold;
    margin-top: 5px;
    border: solid 1px #000000;
    border-radius: 3px;
}

.fullHeightOverride {
    background-color: white;
}

/*.favPadding {
  padding-top:5px;
}*/

.Active {
   /*border-right:solid 5px #7599A8;*/
    transform:scale(1.1);
    border-right:solid 2px #0cc74f;
}
.default
{
    background-color:#7599A8;
}
.Icon {
    height: calc((100% - 130px)/ 8);
    cursor: pointer;
   background-position-y:center;
   margin-top:15px;
   margin-left:5px;
   margin-right:5px;
   transition:150ms ease transform;
  
}

.medication {
    background:url('./rx-entered.svg') no-repeat;
   background-size:contain;
    background-position:center;
}


.eligibility {
   background:url('./eligibility-data-available.svg') no-repeat;
     background-size:contain;
     background-position:center;
}
     
  

.pendingRx {
     background:url('./pending-rx.svg') no-repeat;
    background-size:contain;
    background-position:center;
}

.message {
    /*-webkit-mask: url('./messages.svg') no-repeat;
    mask: url('./messages.svg') none ;
    mask-size: contain;*/
    background:url('./messages.svg') no-repeat;
    background-size:contain;
    background-position:center;
}

.newRx {
   background:url('./new-rx.svg') no-repeat;
    background-size:contain;
    background-position:center;
    
}

.rxHeader {
    font-weight: bold;
    padding: 3px;
    height: 30px;
    border-bottom: solid 2px #808080;
    margin-left: -15px;
    margin-right: -15px;
    font-size: large;
}

.consentNotSet {
     background:url('./consent.svg') no-repeat;
     background-size:contain;
     background-position:center;
}

.consentSetFalse {
    background:url('./consent-no.svg') no-repeat;
     background-size:contain;
     background-position:center;
}

.consentSetTrue {
    background:url('./consent-yes.svg') no-repeat;
     background-size:contain;
     background-position:center;
}

.allergyOrNKDA {
    /*background-color:#f76666;*/
     background:url('./allergies-yes.svg') no-repeat;
     background-size:contain;
     background-position:center;
}

.noAllergy {
    background:#fff url('./allergies.svg') no-repeat;
    background-size:contain;
    background-position:center;
}

.haspatientPharmacy {
      background:#fff url('./pharmacy-yes.svg') no-repeat;
    background-size:contain;
    background-position:center;
}

.noPatientPharmacy {
      background:#fff url('./pharmacy.svg') no-repeat;
    background-size:contain;
    background-position:center;
}
.enableBackground
{
    display:none;
}
.disableBackground
{
    display:block;
}