/* #fonts
========================================== */
@font-face {font-family: 'namfame-font'; font-weight: normal; font-style: normal;
	src: url('assets/fonts/namfame-font.eot?v=3');
	src: url('assets/fonts/namfame-font.eot?v=3#iefix') format('embedded-opentype'), 
	url('assets/fonts/namfame-font.woff?v=3') format('woff'), 
	url('assets/fonts/namfame-font.ttf?v=3') format('truetype'), 
	url('assets/fonts/namfame-font.svg?v=3#namfame-font') format('svg');
	}
/* #Reset & Basics
================================================== */
	html, body, body > section#root {
		height: 100%;
	}

	body {
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
		font-family: Arial, Helvetica, sans-serif;
	}

	a {
		text-decoration: none;
	}

	.container {
    position: relative;
    margin: 0 auto;
    padding: 0px 50px;
    clear: both;
	}

	/* overrride 000webhost add */

		body > div {
			display: none !important
		}