.sortArea {
  background-color: #fff;
  padding-left: 12px;
  width: 20%;
}

.container {
}

.row{
	flex: 1;
  display: flex;
  justify-content:space-between;
  width:100%;
  height:40px;
  border: 1px solid #bbb;
}